page-login {
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .registrarse {
        background-color: white;
        color: black;
        border: 2px solid black;
        min-height: 46px;
    }

    .registrarse.activated {
        background-color: white;
        box-shadow: none;
    }

    .forgot-password {
        color: #999;
    }
}
