page-registration {
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .list-md .item-input:last-child {
        border-bottom: 0px;
    }

    .last-input .item-inner {
        border-bottom: 1px solid #dedede !important;
    }

    ion-select {
        max-width: 100%;
    }
}